<footer class="footer">
    <div class="container-fluid">
        <nav class="float-left">
            <ul>
                <li>
                    <a href="">
                        

                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright float-right">
            &copy;
            @DateTime.Now.Year
            <i class="material-icons">favorite</i>
            <a href="https://www.home.com" target="_blank"> by Platform Services</a> boosting the future of server administration.
        </div>
        <!-- your footer here -->
    </div>
</footer>
