 

    <ul class="nav">

        <li class="nav-item ">
            <a class="nav-link" href="../../Home">
                <i class="material-icons">dashboard</i>
                <p> Dashboard </p>
            </a>
        </li>
        <li class="nav-item ">
            <!--<a class="nav-link" asp-area="" asp-controller="Home" asp-action="Create"></a>-->
            <a class="nav-link" href="../../SubmitGitHubIssue">
                <i class="material-icons">assignment</i>
                <p> Request for Service </p>
            </a>
        </li>
        <li class="nav-item ">
            <!--<a class="nav-link" asp-area="" asp-controller="Home" asp-action="Create"></a>-->
            <a class="nav-link" href="../../ServerDefinition">
                <i class="material-icons">assignment</i>
                <p> Server Definition </p>
            </a>
        </li>
        <li class="nav-item ">
            <!--<a class="nav-link" asp-area="" asp-controller="Home" asp-action="Create"></a>-->
            <a class="nav-link" href="../../Server">
                <i class="material-icons">assignment</i>
                <p> Server List </p>
            </a>
        </li>

        <li class="nav-item ">
            <a class="nav-link" href="../../examples/calendar.html">
                <i class="material-icons">date_range</i>
                <p> Calendar </p>
            </a>
        </li>


    </ul>
