@model Platform_Services_Portal.Models.PortalMetrics
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>



<h2>@ViewData["Title"]</h2>

<form asp-controller="PortalMetrics" asp-action="Create" method="post" class="form-horizontal" role="form">
    <div class="form-horizontal">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="MSG" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MSG" class="form-control" />
                <span asp-validation-for="MSG" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

