@model IEnumerable<Platform_Services_Portal.Models.PortalMetrics>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="List">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MSG)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
          
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MSG)
            </td>
           
        </tr>
}
    </tbody>
</table>
