
@{
    ViewData["Title"] = "NBVMware";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    NovoBanco VMWare Data
</h1>
<div class="embed-responsive embed-responsive-16by9">
    <iframe src="https://10.136.28.147:3000/dashboard/snapshot/ztBlaZeTBTCnpZv3nZzXzhQgy9LBuBcM?orgId=1&theme=light"></iframe>
</div>
}


