@page
@model Platform_Services_Portal.Views.VMWareDashboardModel
@{
}


<div class="text-center">
    <div class="wrapper wrapper-full-page">
        <div style="background-color:black">
            <div class="container">
                <div class="row">
                    <div class="col-12  text-center">
                        <img class="d-block w-200 h-100" src="https://localhost:3000/dashboard/snapshot/87etQQ5h0wQUW39IA4IF4W9424YIytUT" alt="VMWareDataStore">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>