@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <div class="wrapper wrapper-full-page">
        <div style="background-color:black">
            <div class="container">
                <div class="row">
                    <div class="col-12  text-center">
                        <img src="~/images/613330668/Content-613330668.png" />
                        <h2 class="title">Infrastructure as Code (IaC)</h2>

                    </div>
                </div>
            </div>
        </div>
        <div style="background-color:lightgray">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h3 class="title">Select your account</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <div class="card card-profile">
                            <div class="card-avatar">
                                <a href="Home?customer=MBCP">
                                    <img class="img" src="~/images/mbcp.png" />
                                </a>
                            </div>
                            <div class="card-body">
                                <h4 class="card-category text-gray">MBCP</h4>
                                <a href="Home?customer=MBCP" class="btn btn-info btn-round">Select</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card card-profile">
                            <div class="card-avatar">
                                <a href="Home?customer=NB">
                                    <img class="img" src="~/images/nb.png" />
                                </a>
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-gray">Novo Banco</h6>
                                <a href="Home?customer=NB" class="btn btn-info btn-round">Select</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card card-profile">
                            <div class="card-avatar">
                                <a href="Home?customer=UNI">
                                    <img class="img" src="~/images/uni.png" />
                                </a>
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-gray">Unicre</h6>
                                <a href="Home?customer=UNI" class="btn btn-info btn-round">Select</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card card-profile">
                            <div class="card-avatar">
                                <a href="Home?customer=BIC">
                                    <img class="img" src="~/images/bic.png" />
                                </a>
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-gray">EuroBIC</h6>
                                <a href="Home?customer=BIC" class="btn btn-info btn-round">Select</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card card-profile">
                            <div class="card-avatar">
                                <a href="Home?customer=GSNI">
                                    <img class="img" src="~/images/gsni.png" />
                                </a>
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-gray">GSNI</h6>
                                <a href="Home?customer=GSNI" class="btn btn-info btn-round">Select</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card card-profile">
                            <div class="card-avatar">
                                <a href="Home?customer=CGD">
                                    <img class="img" src="~/images/cgd.png" />
                                </a>
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-gray">CGD</h6>
                                <a href="Home?customer=CGD" class="btn btn-info btn-round">Select</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card card-profile">
                            <div class="card-avatar">
                                <a href="Home?customer=CIN">
                                    <img class="img" src="~/images/cin.png" />
                                </a>
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-gray">CIN</h6>
                                <a href="Home?customer=CIN" class="btn btn-info btn-round">Select</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card card-profile">
                            <div class="card-avatar">
                                <a href="Home?customer=Infra">
                                    <img class="img" src="~/images/infra.png" />
                                </a>
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-gray">PT Infra</h6>
                                <a href="Home?customer=Infra" class="btn btn-info btn-round">Select</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
