
@{
    ViewData["Title"] = "TimeLine";
}

<h1>Portal TimeLine</h1>

<div class="col-md-6">
    <ul class="timeline timeline-simple">
        <li class="timeline-inverted">
            <div class="timeline-badge success">
                <i class="material-icons">add_alert</i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <span class="badge badge-pill badge-success">2020-04-01 Platform Portal is Alive!</span>
                </div>
                <div class="timeline-body">
                    <p>
                        <span class="material-icons">
                            featured_play_list
                        </span>

                        <ul style="list-style-type:disc">
                            <li>Service Request (GitHub request)</li>
                            <li>Server Inventory</li>
                            <li>Others</li>
                        </ul>
                    </p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge warning">
                <i class="material-icons">extension</i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <span class="badge badge-pill badge-warning">2020-05-01 New release</span>
                </div>
                <div class="timeline-body">
                    <p>
                        <span class="material-icons">
                            featured_play_list
                        </span>

                        <ul style="list-style-type:disc">
                            <li>new feature 1</li>
                            <li>new feature 2</li>
                            <li>new feature 3</li>
                        </ul>

                        <span class="material-icons">
                            bug_report
                        </span>

                        <ul style="list-style-type:disc">
                            <li>Corrected error 1</li>
                            <li>Corrected error 2</li>
                            <li>Corrected error 3</li>
                        </ul>
                    </p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge info">
                <i class="material-icons">fingerprint</i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <span class="badge badge-pill badge-info">Another release</span>
                </div>
                <div class="timeline-body">
                   
                </div>
            </div>
        </li>
    </ul>
</div>

