@model Platform_Services_Portal.Models.VmW_AddNewServerDSCModel

@{
    ViewData["Title"] = "Submit";
}

<div class="row">
    <div class="col-12">
        <form asp-action="Submit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="card ">
                <div class="card-header card-header-rose card-header-icon">
                    <h4 class="card-title">Plan new Desire State Configuration for server @Html.DisplayFor(model => model.Server.ServerName) </h4>
                </div>
                <div class="card-body ">

                    <div class="row">
                        <label class="col-md-3 col-form-label">Change number</label>
                        <div class="col-md-9">
                            <div class="form-group">
                                <input asp-for="ChangeRecord.ChangeNumber" type="text" class="form-control">
                                <span asp-validation-for="ChangeRecord.ChangeNumber" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-3 col-form-label">Star date and hour</label>
                        <div class="col-md-9">
                            <div class="form-group" >
                                <input asp-for="ChangeRecord.StartDate_Hour" type="text" class="form-control datetimepicker" value="">
                                <span asp-validation-for="ChangeRecord.StartDate_Hour" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-3 col-form-label">End date and hour</label>
                        <div class="col-md-9">
                            <div class="form-group">
                                <input asp-for="ChangeRecord.EndData_Hour" type="text" class="form-control datetimepicker" value="">
                                <span asp-validation-for="ChangeRecord.EndData_Hour" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    @*<div class="row">
                            <label class="col-md-3 col-form-label">Summary</label>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <input asp-for="ChangeRecord.Summary" type="text" class="form-control" />
                                    <span asp-validation-for="ChangeRecord.Summary" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-3 col-form-label">Description</label>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <div id='fake_textarea' contenteditable>@Html.DisplayFor(model => model.ChangeRecord.Description)</div>
                                    <textarea asp-for="ChangeRecord.Description" type="text" class="form-control" rows="10" cols="40"></textarea>
                                    <span asp-validation-for="ChangeRecord.Description" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-2 col-form-label label-checkbox">Does this change cause server unnavailabiity?</label>
                            <div class="col-10 checkbox-radios">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input asp-for="ChangeRecord.Unavailability" class="form-control" id="labelArray" hidden />
                                        <input class="form-check-input" type="checkbox" name="labelOption" onclick="return ValidateLabelSelection();"> Yes
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>*@

                </div>
                <div class="card-footer ">
                    <div class="row">
                        <div class="col-md-9">
                            <button type="submit" class="btn btn-fill btn-rose">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!--   Core JS Files   -->
<script src="../../assets/js/core/jquery.min.js"></script>
<script src="../../assets/js/core/popper.min.js"></script>
<script src="../../assets/js/core/bootstrap-material-design.min.js"></script>
<script src="../../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!-- Plugin for the momentJs  -->
<script src="../../assets/js/plugins/moment.min.js"></script>
<!--  Plugin for Sweet Alert -->
<script src="../../assets/js/plugins/sweetalert2.js"></script>
<!-- Forms Validations Plugin -->
<script src="../../assets/js/plugins/jquery.validate.min.js"></script>
<!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
<script src="../../assets/js/plugins/jquery.bootstrap-wizard.js"></script>
<!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
<script src="../../assets/js/plugins/bootstrap-selectpicker.js"></script>
<!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
<script src="../../assets/js/plugins/bootstrap-datetimepicker.min.js"></script>
<!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
<script src="../../assets/js/plugins/jquery.dataTables.min.js"></script>
<!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
<script src="../../assets/js/plugins/bootstrap-tagsinput.js"></script>
<!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="../../assets/js/plugins/jasny-bootstrap.min.js"></script>
<!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
<script src="../../assets/js/plugins/fullcalendar.min.js"></script>
<!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
<script src="../../assets/js/plugins/jquery-jvectormap.js"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="../../assets/js/plugins/nouislider.min.js"></script>
<!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
<!-- Library for adding dinamically elements -->
<script src="../../assets/js/plugins/arrive.min.js"></script>
<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Chartist JS -->
<script src="../../assets/js/plugins/chartist.min.js"></script>
<!--  Notifications Plugin    -->
<script src="../../assets/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
<script src="../../assets/js/material-dashboard.js?v=2.1.2" type="text/javascript"></script>
<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<script src="../../assets/demo/demo.js"></script>

<script>
    $(document).ready(function () {
        // initialise Datetimepicker and Sliders
        md.initFormExtendedDatetimepickers();
        if ($('.slider').length != 0) {
            md.initSliders();
        }
    });
</script>

