@model Platform_Services_Portal.Models.Disk

@{
    ViewData["Title"] = "EditDisk";
}

<h1>EditDisk</h1>

<h4>Disk</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangeDisk">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DiskLabel" class="control-label"></label>
                <input asp-for="DiskLabel" class="form-control" />
                <span asp-validation-for="DiskLabel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiskSize" class="control-label"></label>
                <input asp-for="DiskSize" class="form-control" />
                <span asp-validation-for="DiskSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

