@model Platform_Services_Portal.Models.Server

@{
    ViewData["Title"] = "Edit";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header card-header-info card-header-icon">
                                    <div class="card-icon">
                                        <i class="material-icons">assignment</i>
                                    </div>
                                    <h4 class="card-title">Chnage configuration of server @Html.DisplayFor(model => model.ServerName)</h4>
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label asp-for="ServerName" class="control-label" hidden>Server name</label>
                                        <input asp-for="ServerName" class="form-control"  hidden/>
                                        <span asp-validation-for="ServerName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Type" class="control-label" ></label>
                                        <input asp-for="Type" class="form-control" />
                                        <span asp-validation-for="Type" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Summary" class="control-label" hidden></label>
                                        <input asp-for="Summary" class="form-control" hidden/>
                                        <span asp-validation-for="Summary" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Customer" class="control-label"></label>
                                        <input asp-for="Customer" class="form-control" />
                                        <span asp-validation-for="Customer" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Memory" class="control-label"></label>
                                        <input asp-for="Memory" class="form-control" />
                                        <span asp-validation-for="Memory" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="CPU" class="control-label"></label>
                                        <input asp-for="CPU" class="form-control" />
                                        <span asp-validation-for="CPU" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header card-header-info card-header-icon">
                                    <div class="card-icon">
                                        <i class="material-icons">assignment</i>
                                    </div>
                                    <h4 class="card-title">Disk details</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">#</th>
                                                    <th>Disk Label</th>
                                                    <th>Disk Size</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int index = 0; index < Model.Disks.Count; index++)
                                                {
                                                    <tr>
                                                        <td class="text-center">@index</td>
                                                        <td>
                                                            <div class="form-group">
                                                                <label asp-for=@Model.Disks[index].DiskLabel class="control-label" hidden></label>
                                                                <input asp-for=@Model.Disks[index].DiskLabel class="form-control"  readonly/>
                                                                <span asp-validation-for=@Model.Disks[index].DiskLabel class="text-danger"></span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-group">
                                                                <label asp-for=@Model.Disks[index].DiskSize class="control-label" hidden></label>
                                                                <input asp-for=@Model.Disks[index].DiskSize class="form-control" />
                                                                <span asp-validation-for=@Model.Disks[index].DiskSize class="text-danger"></span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td><input type="submit" value="Submit" class="btn btn-warning" /></td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

