@model Platform_Services_Portal.Models.VmW_AddDiskCapacityVM

@{
    ViewData["Title"] = "Create";
}



<div class="row">
    <div class="col-6">
        <form asp-action="Create" class="form-horizontal">
            <div class="card">
                <div class="card-header card-header-info card-header-text">
                    <div class="card-text">
                        <h4 class="card-title">Upgrade disk size</h4>
                    </div>
                </div>
                <div class="card-body ">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <label class="col-2 col-form-label">Server name</label>
                        <div class="col-10">
                            <div class="form-group bmd-form-group">
                                <input asp-for="VMName" class="form-control" />
                                <span asp-validation-for="VMName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-2 col-form-label">Disk size value</label>
                        <div class="col-10">
                            <div class="form-group bmd-form-group">
                                <input asp-for="DiskAddValue" class="form-control" />
                                <span asp-validation-for="DiskAddValue" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-2 col-form-label">Change record</label>
                        <div class="col-10">
                            <div class="form-group bmd-form-group">
                                <input asp-for="CHGRecord" class="form-control" />
                                <span asp-validation-for="CHGRecord" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-right">
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-info" />
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

